<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
  <div class="input-group">
    <input type="text" required name="searchValue" class="form-control bg-light border-0 small"
      placeholder="Recherche..." aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="item.value">
    <div class="input-group-append">
      <button (click)="search()" class="btn btn-primary" type="button">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>