<table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
  <thead>
    <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="title: activate to sort column descending" style="width: 271px;">Titre</th>
    <th class="sorting sorting_asc" tabindex="1" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="success: activate to sort column descending" style="width: 271px;">Succes ?</th>
  </thead>
  <tbody>
    <game-game-row *ngFor="let item of games" [item]="item"></game-game-row>
  </tbody>
</table>
