
<h1>Star wars game</h1>

<h2>Login</h2>
<form  [formGroup]="loginForm">
  <input type="text" name="login" formControlName="login" >
  <input type="text" name="password" formControlName="password">
  <input type="text" name="service" formControlName="service">
  <button [disabled]="loginForm.valid"></button>
</form>

{{ appel() }}

<game-observables-zoom [nbReplayer]="3"></game-observables-zoom>

<h2>Peoples</h2>

<div *ngIf="people$ | async as peoples">
  {{ peoples | json }}
</div>

<div *ngFor="let item of people$ | async">
  {{ item | json }}

  <input type="radio">
</div>

<h2>Enemies</h2>
<div *ngFor="let item of enemies$ | async">
  {{ item.libelle }}
</div>

<button (click)="addNewFakeEnemy()">Maj list</button>

<router-outlet></router-outlet>
