
<h1>Star wars game</h1>
<!--
{{ generateTitle() }}

{{ users | json}}
<div *ngFor="let item of users">
  {{ item.surname }}
</div> -->

<!-- <i>pour Test</i>
<game-test-one></game-test-one>
<game-test-one></game-test-one>
<game-test-one></game-test-one>

<h3>Test clé de service</h3>
{{ displayKey }}

<game-child-one></game-child-one> -->

<!-- <game-rxjs-discover></game-rxjs-discover>
<game-rxjs-pipe-async></game-rxjs-pipe-async> -->

<!-- <game-concat-merge-map></game-concat-merge-map> -->

<game-count-click></game-count-click>

<router-outlet></router-outlet>
